* text=auto
*.cmd text eol=crlf
*.cjs text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.mp4 binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
/scripts/git-hooks/* text eol=lf
